### User-specific stuff:
/.git*
/.idea*
.dockerignore
.editorconfig

###> symfony/framework-bundle ###
/public/bundles/
/var/mysql-data
/var/rabbitmq
/vendor/
###< symfony/framework-bundle ###

### Vendor bin dependencies
/tools/*/vendor/

